/* General Style */
ul {
    padding-left: 0;
    margin-left:1.2em;
}




/* Meta Edit Tab Style */

#metaEditTable td {
    border: 1px solid #357ebd;
}

#metaEditTable th {
    color: white;
    background-color: #428bca;
    border: 1px solid #357ebd;
}

#metaEditTable tr:nth-child(even) {
    background-color: #d7ebf9;
}



/* Data Subset Tab Style */

#dimensionFormset {
    overflow-y: auto;
    height: 200px;
    border-style: solid;
    border-color: gainsboro;
    border-width: thin;
    margin-bottom:30px;
}

#variableNamesForm {
    overflow-y: auto;
    height: 200px;
    border-style: solid;
    border-color: gainsboro;
    border-width: thin;
}

#dataSubsetIntro {
    padding-left: 0;
    margin-left:1.2em;
}