/* General Style */
ul {
    padding-left: 0;
    margin-left:1.2em;
}

#ncToolTabsBody {
    border-color:gainsboro;
    max-height:1000px;
    padding-bottom:20px;
    padding-top:20px;
    padding-right:2px;
    padding-left:2px;
}


/* Meta Edit Tab Style */

#metaEditTable td {
    border: 1px solid #357ebd;
}

#metaEditTable th {
    color: white;
    background-color: #428bca;
    border: 1px solid #357ebd;
}

#metaEditTable tr:nth-child(even) {
    background-color: #d7ebf9;
}



/* Data Subset Tab Style */

#dimensionFormset {
    overflow-y: auto;
    height: 220px;
    border-style: solid;
    border-color: gainsboro;
    border-width: thin;
    margin-bottom:30px;
    padding:5px;
}

#variableNamesForm {
    overflow-y: auto;
    height: 220px;
    border-style: solid;
    border-color: gainsboro;
    border-width: thin;
    padding:5px
}

#dataSubsetIntro {
    padding-left: 0;
    margin-left:1.2em;
}

/*#dataInspector {*/
    /*border-color:cornflowerblue;*/
    /*border-style:outset;*/
    /*padding:10px;*/
    /*margin-top: 20px;*/
/*}*/