{# This template is used as the landing page for NetCDF Resource #}

{% extends "pages/page.html" %}
{%  load staticfiles %}

{# load extra css #}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'hs_app_tools_netCDF/style.css'%}"/>
{% endblock %}


{# Page content #}
{% block main %}

    <!-- Page Title -->
    <div id="title" style="margin-bottom:30px">
        <h1>NetCDF Tools</h1>
    </div>

    <!-- Resource Info -->
    {% if nc_res %}
        <div id="resource-info" style="margin-bottom:30px">
            <div id="res-back-btn">
                <a href="{{ nc_res.get_absolute_url }}" type="button" class="btn btn-success pull-right">Back to Resource Landing Page</a>
            </div>

            <div id="ncFileName">
                {% for f in nc_res.files.all %}
                    {% if f.resource_file.name|slice:"-3:" == '.nc'%}
                        <h4>Resource NetCDF File:  <a href="{{ f.resource_file.url }}"> {{ f.resource_file.name|slice:"33:" }}</a> </h4>
                    {% endif %}
                {% endfor %}
            </div>

{#            <div id="ncToolObjFilesLinks">#}
{#                {% if nc_tools_obj %}#}
{#                    {% if nc_tools_obj.meta_edit_file %}#}
{#                        <h4>Metadata Editing File:#}
{#                        <a href="{{ nc_tools_obj.meta_edit_file.url }}">{{ nc_tools_obj.meta_edit_file.name|slice:"2:" }}</a>#}
{#                        </h4>#}
{#                    {% endif %}#}
{#                {% endif %}#}
{#            </div>#}
        </div>

    {% else %}
        <div class="content-block" id="error-info"><h4> There is no netCDF file available for the tools </h4></div>
        <!--TODO:make this section for uploading new netcdf file from local computer-->

    {% endif %}

    <!-- Tool Tabs Section-->
    <div class="tool-tabs">
        <!-- tab header -->
        <div class="panel-tabs">
            <ul class="nav nav-tabs">
                <li class="active col-md-2 col-sm-12 col-xs-12">
                    <a href="#metaEditTab" data-toggle="tab">Metadata Editing</a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-12">
                    <a href="#dataSubsetTab" data-toggle="tab">Data Subset</a>
                </li>
            </ul>
        </div>

         <!-- tab body -->
        <div class="tabs-body">
            <div class="tab-content">

                <!-- meta edit tab-->
                <div class="active tab-pane" id="metaEditTab">
                    <form id="metaEditForm" class="col-md-6"action="{% url "nc_tools:meta_edit" nc_res.short_id %}" method="post"> {% csrf_token %}
                        {{ meta_elements_form.as_p }}
                        <input id="metaEditBtn" type="submit" value="Write Metadata to NetCDF File" class="btn btn-primary"/>
                    </form>
                    <p id='metaEditIntro'>
                        <strong style="font-size:130%">Metadata Editing tool</strong>
                        <br/>This tool will write the metadata information of the Multidimensional Space and Time data resource in the .nc resource file.
                        <br/>The mapping between the HydroShare resource metadata information and the NetCDF conventions terms is shown in the table.
                    </p>
                    <div id="metaEditTable">
                        <table class="col-md-6" id="metaEditTable">
                        <col width="40">
                        <col width="90">
                        <tr>
                            <th>Meta Element</th>
                            <th>Conventions Term</th>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>ACDD:title</td>
                        </tr>
                        <tr>
                            <td>Creator</td>
                            <td>ACDD:creator_name, creator_email, creator_url</td>
                        </tr>
                        <tr>
                            <td>Contributor</td>
                            <td>ACDD:contributor_name</td>
                        </tr>
                        <tr>
                            <td>Abstract</td>
                            <td>ACDD:summary</td>
                        </tr>
                        <tr>
                            <td>Keyword</td>
                            <td>ACDD:keywords</td>
                        </tr>
                        <tr>
                            <td>Spatial Coverage</td>
                            <td>ACDD:geospatial_lat_min, geospatial_lat_max, geospatial_lon_max, getospatial_lon_min</td>
                        </tr>
                        <tr>
                            <td>Temporal Coverage</td>
                            <td>ACDD:time_coverage_start, time_coverage_end</td>
                        </tr>
                        <tr>
                            <td>Right</td>
                            <td>ACDD:license</td>
                        </tr>
                        <tr>
                            <td>Source</td>
                            <td>ACDD:source</td>
                        </tr>
                        <tr>
                            <td>Publisher</td>
                            <td>ACDD:publisher_name, publisher_url</td>
                        </tr>
                        <tr>
                            <td>Permanent Link</td>
                            <td>ACDD:id</td>
                        </tr>
                        <tr>
                            <td>Relation:cites</td>
                            <td>ACDD:references</td>
                        </tr>
                        <tr>
                            <td>Variable</td>
                            <td>CF:units, long_name, missing_value, comment</td>
                        </tr>
                    </table>
                        <p id='metaEditTableInfo'>
                            *ACDD:<a target="_blank" href= "http://wiki.esipfed.org/index.php/Attribute_Convention_for_Data_Discovery_(ACDD)">
                                Attribute Convention for Data Discovery
                                </a>
                        </p>
                        <p id="metaEditTableInfo">
                            *CF:<a target="_blank" href="http://cfconventions.org/">
                            Climate and Forecast metadata Convention
                            </a>
                        </p>
                    </div>

                </div>


                <!-- data subset tab -->
                <div class="tab-pane" id="dataSubsetTab">
                    <p> second tab</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{# Load javascript #}
{% block extra_js %}
<script>

    // Meta Edit Tab js
    $(document).ready(function(){

        //disable meta edit button and clean checked box
        $('input[id^="id_meta_elements_"]').attr('checked', false);
        $('input[id^="id_file_process_"]').attr('checked', false);
        $('#metaEditBtn').attr('disabled', true);
        //alert($('#metaEditBtn').attr('disabled'));

        // enable meta edit button after valid check box
        $('#metaEditForm').on('change', function(){
            var meta_elements_checkbox = $('input[id^="id_meta_elements_"]:checked').length > 0;
            var file_process_checkbox = $('input[id^="id_file_process_"]:checked').length > 0;
            if (meta_elements_checkbox && file_process_checkbox) {
                $('#metaEditBtn').attr('disabled', false);
            }
            else {
                $('#metaEditBtn').attr('disabled',true);
            }
        })

    })


</script>

{% endblock %}